
configuration {
	modi: "drun,run,window,power:rofi-power-menu --choices=shutdown/reboot/logout --no-symbols";
	show-icons: true;
	terminal: "alacritty";
	icon-theme: "Papirus-Dark";
	matching: "fuzzy";
	click-to-exit: true;
	font: "JetBrains Mono NF 12";
	dpi: 192;
}

// @theme "dracula"
@theme "tokyo_night"
