
configuration {
	modi: "drun,run,window";
	show-icons: true;
	terminal: "wezterm";
	icon-theme: "Papirus-Dark";
	matching: "fuzzy";
	click-to-exit: true;
	font: "JetBrains Mono NF 11";
}

// @theme "dracula"
@theme "tokyo_night"
