/* base00 - Default Background */
/* base01 - Lighter Background (Used for status bars, line number and folding marks) */
/* base02 - Selection Background */
/* base03 - Comments, Invisibles, Line Highlighting */
/* base04 - Dark Foreground (Used for status bars) */
/* base05 - Default Foreground, Caret, Delimiters, Operators */
/* base06 - Light Foreground (Not often used) */
/* base07 - Light Background (Not often used) */
/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
/* base0A - Classes, Markup Bold, Search Text Background */
/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
/* base0D - Functions, Methods, Attribute IDs, Headings */
/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */

/* scheme: "Tokyo Night Dark" */
@define-color base00 #1A1B26;
@define-color base01 #16161E;
@define-color base02 #2F3549;
@define-color base03 #444B6A;
@define-color base04 #787C99;
@define-color base05 #A9B1D6;
@define-color base06 #CBCCD1;
@define-color base07 #D5D6DB;
@define-color base08 #C0CAF5;
@define-color base09 #A9B1D6;
@define-color base0A #0DB9D7;
@define-color base0B #9ECE6A;
@define-color base0C #B4F9F8;
@define-color base0D #2AC3DE;
@define-color base0E #BB9AF7;
@define-color base0F #F7768E;

* {
	font-size: 15px;
	font-family:
		JetBrainsMono Nerd Font,
		Font Awesome,
		sans-serif;
	font-weight: bold;
}

window#waybar {
	background-color: @base00;
	border-bottom: 1px solid rgba(26, 27, 38, 0);
	border-radius: 0px;

	color: @base0F;
}

#workspaces {
	background: @base01;
	margin: 2px;
	padding: 0px 1px;
	border-radius: 15px;
	border: 0px;
	font-style: normal;

	color: @base00;
}

#workspaces button {
	padding: 0px 5px;
	margin: 4px 3px;
	border-radius: 5px;
	border: 0px;

	color: @base00;

	background: linear-gradient(45deg, @base0D, @base0F, @base0D);
	background-size: 300% 300%;

	animation: gradient_horizontal 15s ease infinite;

	opacity: 0.3;

	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
	padding: 0px 5px;
	margin: 4px 3px;
	border-radius: 5px;
	border: 0px;

	color: @base00;

	background: linear-gradient(45deg, @base0D, @base07, @base0D);
	background-size: 300% 300%;

	animation: gradient_horizontal 15s ease infinite;

	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);

	opacity: 1;
	min-width: 50px;
}

#workspaces button:hover {
	border-radius: 5px;

	color: @base00;

	background: linear-gradient(45deg, @base0E, @base0F, @base0D, @base09);
	background-size: 300% 300%;

	animation: gradient_horizontal 15s ease infinite;

	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
	opacity: 0.8;
}

#window {
	color: @base0F;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#memory {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#language {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#clock {
	color: @base0F;

	background: @base01;

	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#cpu {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#disk {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#battery {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#network {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#tray {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#pulseaudio {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#pulseaudio.microphone {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#bluetooth {
	color: @base0D;

	background: @base01;
	margin: 4px;
	padding: 2px 10px;
	border-radius: 5px;
}

#custom-distro {
	color: @base0E;

	/* background: @base01; */
	border-radius: 5px;
	margin: 4px;
	padding: 2px 5px 2px 5px;
}

#custom-notification {
	color: @base0E;
	background: @base01;
	border-radius: 5px;
	margin: 4px;
	padding: 2px 5px 2px 5px;
}

tooltip {
	background: @base00;

	border: 1px solid @base0E;
	border-radius: 5px;
}

tooltip label {
	color: @base07;
}

@keyframes gradient_horizontal {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes swiping {
	0% {
		background-position: 0% 200%;
	}

	100% {
		background-position: 200% 200%;
	}
}
